.mainContainer {
    display: grid;
    grid-template-rows: 6fr 6fr 8fr;
    gap: 3%;
    height: 100%;
}

.inputTextField {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outputTextField {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}