.body {
    grid-row: 2 / -2;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    min-height: 1000px;
    margin-top: 30px;
}

.body aside {
    grid-column: -2 / -1;
}

.body section {
    grid-column: 1/2;
}

#commonContent {
    grid-column: 2/-2;
}